img {
    max-width: 250px;
    min-width: 90px;
}
header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

#nav-btn {
    margin-right: 5px;
    margin-left: 5px;
}